@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000428, #004e92);
    overflow: hidden;
}

.password-container {
    text-align: center;
    background: #1c1c1c;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 300px;
}

.password-container h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.input-container {
    position: relative;
    width: 100%;
}

.password-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.password-container .options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #bbb;
}

.password-container .options label {
    display: flex;
    align-items: center;
}

.password-container button {
    padding: 10px;
    width: 100%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1em;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .password-container {
        width: 80%;
        padding: 20px;
    }

    .password-container h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .password-container {
        width: 90%;
        padding: 10px;
    }

    .password-container h1 {
        font-size: 1em;
    }
}

.toggle-password {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
    -webkit-tap-highlight-color: transparent; 
    user-select: none; 
}

.animate-icon {
    transform: rotate(360deg);
}
