*{
  overflow: hidden;
}

:root {
  --color-primary: white;
  --color-secondary: #b3a2ba;
}

@property --radius {
  syntax: "<percentage>";
  initial-value: 0;
  inherts: true;
}
@property --number {
  syntax: "<number>";
  initial-value: 0;
  inherts: true;
}
.grid {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  gap: 0rem;
  -webkit-animation: grid 5s 0.2s ease-in-out infinite;
          animation: grid 5s 0.2s ease-in-out infinite;
  position: absolute;
  mix-blend-mode: darken;
  pointer-events: none;
}

@-webkit-keyframes grid {
  from {
    --radius: 20%;
    gap: 0rem;
  }
  50% {
    --radius: 50%;
    gap: 30vmin;
    rotate: 360deg;
  }
  55% {
    --radius: 30%;
    rotate: 160deg;
  }
  60% {
    rotate: 360deg;
  }
  70% {
    rotate: 0deg;
    gap: 0rem;
  }
  90% {
    rotate: 160deg;
  }
  to {
    --radius: 20%;
    gap: 0rem;
  }
}

@keyframes grid {
  from {
    --radius: 20%;
    gap: 0rem;
  }
  50% {
    --radius: 50%;
    gap: 30vmin;
    rotate: 360deg;
  }
  55% {
    --radius: 30%;
    rotate: 160deg;
  }
  60% {
    rotate: 360deg;
  }
  70% {
    rotate: 0deg;
    gap: 0rem;
  }
  90% {
    rotate: 160deg;
  }
  to {
    --radius: 20%;
    gap: 0rem;
  }
}
.cell {
  border-radius: var(--radius, 20%);
  min-width: 3.5rem;
  aspect-ratio: 1;
  background: var(--color-secondary);
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: #111;
  font-weight: bold;
  font-family: "Kablammo", Helvetica, sans-serif;
  position: absolute;
  font-variation-settings: "MORF" var(--number);
  -webkit-animation: text 3s ease infinite;
          animation: text 3s ease infinite;
}
body:after {
  content: "Raze";
  font-size: 35vmin;
  display: grid;
  place-items: center;
  position: absolute;
  color: var(--color-primary);
  z-index: -1;
  text-shadow: -1px -1px 1px white, 1px 1px 1px black, 0.5rem 0.5rem 4.04rem color-mix(in oklch, var(--color-primary), rgba(255, 255, 255, 0.1) 70%);
}

@-webkit-keyframes text {
  0% {
    --number: 0;
  }
  1% {
    --number: 1;
  }
  2% {
    --number: 2;
  }
  3% {
    --number: 3;
  }
  4% {
    --number: 4;
  }
  5% {
    --number: 5;
  }
  6% {
    --number: 6;
  }
  7% {
    --number: 7;
  }
  8% {
    --number: 8;
  }
  9% {
    --number: 9;
  }
  10% {
    --number: 10;
  }
  11% {
    --number: 11;
  }
  12% {
    --number: 12;
  }
  13% {
    --number: 13;
  }
  14% {
    --number: 14;
  }
  15% {
    --number: 15;
  }
  16% {
    --number: 16;
  }
  17% {
    --number: 17;
  }
  18% {
    --number: 18;
  }
  19% {
    --number: 19;
  }
  20% {
    --number: 20;
  }
  21% {
    --number: 21;
  }
  22% {
    --number: 22;
  }
  23% {
    --number: 23;
  }
  24% {
    --number: 24;
  }
  25% {
    --number: 25;
  }
  26% {
    --number: 26;
  }
  27% {
    --number: 27;
  }
  28% {
    --number: 28;
  }
  29% {
    --number: 29;
  }
  30% {
    --number: 30;
  }
  31% {
    --number: 31;
  }
  32% {
    --number: 32;
  }
  33% {
    --number: 33;
  }
  34% {
    --number: 34;
  }
  35% {
    --number: 35;
  }
  36% {
    --number: 36;
  }
  37% {
    --number: 37;
  }
  38% {
    --number: 38;
  }
  39% {
    --number: 39;
  }
  40% {
    --number: 40;
  }
  41% {
    --number: 41;
  }
  42% {
    --number: 42;
  }
  43% {
    --number: 43;
  }
  44% {
    --number: 44;
  }
  45% {
    --number: 45;
  }
  46% {
    --number: 46;
  }
  47% {
    --number: 47;
  }
  48% {
    --number: 48;
  }
  49% {
    --number: 49;
  }
  50% {
    --number: 50;
  }
  50% {
    --number: 50;
  }
  51% {
    --number: 49;
  }
  52% {
    --number: 48;
  }
  53% {
    --number: 47;
  }
  54% {
    --number: 46;
  }
  55% {
    --number: 45;
  }
  56% {
    --number: 44;
  }
  57% {
    --number: 43;
  }
  58% {
    --number: 42;
  }
  59% {
    --number: 41;
  }
  60% {
    --number: 40;
  }
  61% {
    --number: 39;
  }
  62% {
    --number: 38;
  }
  63% {
    --number: 37;
  }
  64% {
    --number: 36;
  }
  65% {
    --number: 35;
  }
  66% {
    --number: 34;
  }
  67% {
    --number: 33;
  }
  68% {
    --number: 32;
  }
  69% {
    --number: 31;
  }
  70% {
    --number: 30;
  }
  71% {
    --number: 29;
  }
  72% {
    --number: 28;
  }
  73% {
    --number: 27;
  }
  74% {
    --number: 26;
  }
  75% {
    --number: 25;
  }
  76% {
    --number: 24;
  }
  77% {
    --number: 23;
  }
  78% {
    --number: 22;
  }
  79% {
    --number: 21;
  }
  80% {
    --number: 20;
  }
  81% {
    --number: 19;
  }
  82% {
    --number: 18;
  }
  83% {
    --number: 17;
  }
  84% {
    --number: 16;
  }
  85% {
    --number: 15;
  }
  86% {
    --number: 14;
  }
  87% {
    --number: 13;
  }
  88% {
    --number: 12;
  }
  89% {
    --number: 11;
  }
  90% {
    --number: 10;
  }
  91% {
    --number: 9;
  }
  92% {
    --number: 8;
  }
  93% {
    --number: 7;
  }
  94% {
    --number: 6;
  }
  95% {
    --number: 5;
  }
  96% {
    --number: 4;
  }
  97% {
    --number: 3;
  }
  98% {
    --number: 2;
  }
  99% {
    --number: 1;
  }
  100% {
    --number: 0;
  }
}

@keyframes text {
  0% {
    --number: 0;
  }
  1% {
    --number: 1;
  }
  2% {
    --number: 2;
  }
  3% {
    --number: 3;
  }
  4% {
    --number: 4;
  }
  5% {
    --number: 5;
  }
  6% {
    --number: 6;
  }
  7% {
    --number: 7;
  }
  8% {
    --number: 8;
  }
  9% {
    --number: 9;
  }
  10% {
    --number: 10;
  }
  11% {
    --number: 11;
  }
  12% {
    --number: 12;
  }
  13% {
    --number: 13;
  }
  14% {
    --number: 14;
  }
  15% {
    --number: 15;
  }
  16% {
    --number: 16;
  }
  17% {
    --number: 17;
  }
  18% {
    --number: 18;
  }
  19% {
    --number: 19;
  }
  20% {
    --number: 20;
  }
  21% {
    --number: 21;
  }
  22% {
    --number: 22;
  }
  23% {
    --number: 23;
  }
  24% {
    --number: 24;
  }
  25% {
    --number: 25;
  }
  26% {
    --number: 26;
  }
  27% {
    --number: 27;
  }
  28% {
    --number: 28;
  }
  29% {
    --number: 29;
  }
  30% {
    --number: 30;
  }
  31% {
    --number: 31;
  }
  32% {
    --number: 32;
  }
  33% {
    --number: 33;
  }
  34% {
    --number: 34;
  }
  35% {
    --number: 35;
  }
  36% {
    --number: 36;
  }
  37% {
    --number: 37;
  }
  38% {
    --number: 38;
  }
  39% {
    --number: 39;
  }
  40% {
    --number: 40;
  }
  41% {
    --number: 41;
  }
  42% {
    --number: 42;
  }
  43% {
    --number: 43;
  }
  44% {
    --number: 44;
  }
  45% {
    --number: 45;
  }
  46% {
    --number: 46;
  }
  47% {
    --number: 47;
  }
  48% {
    --number: 48;
  }
  49% {
    --number: 49;
  }
  50% {
    --number: 50;
  }
  50% {
    --number: 50;
  }
  51% {
    --number: 49;
  }
  52% {
    --number: 48;
  }
  53% {
    --number: 47;
  }
  54% {
    --number: 46;
  }
  55% {
    --number: 45;
  }
  56% {
    --number: 44;
  }
  57% {
    --number: 43;
  }
  58% {
    --number: 42;
  }
  59% {
    --number: 41;
  }
  60% {
    --number: 40;
  }
  61% {
    --number: 39;
  }
  62% {
    --number: 38;
  }
  63% {
    --number: 37;
  }
  64% {
    --number: 36;
  }
  65% {
    --number: 35;
  }
  66% {
    --number: 34;
  }
  67% {
    --number: 33;
  }
  68% {
    --number: 32;
  }
  69% {
    --number: 31;
  }
  70% {
    --number: 30;
  }
  71% {
    --number: 29;
  }
  72% {
    --number: 28;
  }
  73% {
    --number: 27;
  }
  74% {
    --number: 26;
  }
  75% {
    --number: 25;
  }
  76% {
    --number: 24;
  }
  77% {
    --number: 23;
  }
  78% {
    --number: 22;
  }
  79% {
    --number: 21;
  }
  80% {
    --number: 20;
  }
  81% {
    --number: 19;
  }
  82% {
    --number: 18;
  }
  83% {
    --number: 17;
  }
  84% {
    --number: 16;
  }
  85% {
    --number: 15;
  }
  86% {
    --number: 14;
  }
  87% {
    --number: 13;
  }
  88% {
    --number: 12;
  }
  89% {
    --number: 11;
  }
  90% {
    --number: 10;
  }
  91% {
    --number: 9;
  }
  92% {
    --number: 8;
  }
  93% {
    --number: 7;
  }
  94% {
    --number: 6;
  }
  95% {
    --number: 5;
  }
  96% {
    --number: 4;
  }
  97% {
    --number: 3;
  }
  98% {
    --number: 2;
  }
  99% {
    --number: 1;
  }
  100% {
    --number: 0;
  }
}
* {
  box-sizing: border-box;
}